VITE_KEYCLOAK_URL=http://localhost:58080
VITE_KEYCLOAK_REALM=quarkus
VITE_KEYCLOAK_CLIENT_ID=frontend-service
VITE_KEYCLOAK_SCOPES="openid voperson_id"
VITE_REDIRECT_URI=http://localhost:5173
VITE_BACKEND_URI=http://localhost:8080

